<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="load_drinking_tool" params="prefix">
    
    <joint name="finger_tip_to_drinkbase" type="floating">
        <parent link="finger_tip"/>
        <child link="drinkbase"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}drinkbase">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.072775" />
            <inertia
                ixx="1.821E-05"
                ixy="-4.1084E-09"
                ixz="-1.448E-07"
                iyy="1.062E-05"
                iyz="-1.5136E-09"
                izz="1.0557E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://kortex_description/tools/drinking_tool/tool_base.stl" />
            </geometry>
            <material name="">
                <color rgba="0.75294 1 0.75294 1" />
            </material>
        </visual>
        <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://kortex_description/tools/drinking_tool/tool_base.stl" />
            </geometry>
        </collision>
    </link>

    <link name="${prefix}drink_tip">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0" />
        <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
    </link>

    <joint name="${prefix}joint_drink_tip" type="fixed">
      <parent link="${prefix}drinkbase"/>
      <child link="${prefix}drink_tip"/>
      <axis xyz="0 0 0"/>
      <limit effort="2000" lower="0" upper="0" velocity="1"/>
      <!-- <origin rpy="0 0 0" xyz="0.095 0.007 0.0"/> -->
      <!-- <origin rpy="0 0 0" xyz="0.097 0.00 -0.002"/> -->
      <origin rpy="0 1.570796 0" xyz="0.27 0.095 -0.045"/>
    </joint>

  </xacro:macro>
</robot>